.home.section-page-header {
	height: 659px;
	background: url('../img/header-background.jpg') no-repeat;
	background-size: 100%;
	padding-top: 190px;
}

.home .quick-links {
	padding-top: 150px;

	a {
		text-decoration: none;

			h2 {
				font-size: $font-size-h3;
				text-transform: uppercase;
				color: #fff;
				-webkit-transition: color 200ms linear;
			    -moz-transition: color 200ms linear;
			    -o-transition: color 200ms linear;
			    -ms-transition: color 200ms linear;
			    transition: color 200ms linear;
			}
			h2:before {
				content: "";
			    position: absolute;
			    left: 107px;
			    top: -20px;
			    height: 4px;
			    width: 85px;
			    border-top: 6px solid $brand-primary;
			    -webkit-transition: top 100ms linear;
			    -moz-transition: top 100ms linear;
			    -o-transition: top 100ms linear;
			    -ms-transition: top 100ms linear;
			    transition: top 100ms linear;
			}
			p {
				font-size: 14px;
			}
			i {
				font-size: $font-size-h1;
				top: -10px;
				position: relative;
				-webkit-transition: top 100ms linear;
			    -moz-transition: top 100ms linear;
			    -o-transition: top 100ms linear;
			    -ms-transition: top 100ms linear;
			    transition: top 100ms linear;
			}
		&:hover {
			h2 {
				color: $brand-primary;
				-webkit-transition: color 200ms linear;
			    -moz-transition: color 200ms linear;
			    -o-transition: color 200ms linear;
			    -ms-transition: color 200ms linear;
			    transition: color 200ms linear;
			}
			h2:before {
				top: -35px;
				-webkit-transition: top 100ms linear;
			    -moz-transition: top 100ms linear;
			    -o-transition: top 100ms linear;
			    -ms-transition: top 100ms linear;
			    transition: top 100ms linear;
			}
			i {
				top: 5px;
				-webkit-transition: top 100ms linear;
			    -moz-transition: top 100ms linear;
			    -o-transition: top 100ms linear;
			    -ms-transition: top 100ms linear;
			    transition: top 100ms linear;
			}
		}
	}
}





.home-slider {
	position: relative;
	margin: 0 auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms, visibility 300ms;

	img {
		display: block;
		margin: 0 auto;
	}

	.flex-viewport {
		background-color: #222;

	}

	.slide-content {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		background-color: #222;
		background-color: rgba(0,0,0,0.75);
		color: #fff;
		padding: 20px 10px 40px;

		@media only screen and (max-width: 1023px) {
			position: relative;
			bottom: auto;
			padding-bottom: 20px;
			background-color: #222;
		}
	}

	.slide-description {
		font-size: $font-size-large;

		@media only screen and (max-width: 1023px) {
			font-size: $font-size-base;
		}
	}

	.slide-title {
		color: inherit;

		@media only screen and (max-width: 1023px) {
			font-size: 24px;
		}
	}

	.flex-control-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		padding-bottom: 10px;

		@media only screen and (max-width: 1023px) {
			position: static;
			background-color: #222;
		}
	}
}