.breadcrumb {
	padding: 5px 0;
	background-color: $panel-bg;

	@media only screen and (max-width: 767px) {
		display: none;
	}

	ol {
		@extend .list-unstyled;
		margin-bottom: 0;
	}

	li {
		display: inline;
		font-size: 0.85em;

		& + li:before {
			content: $breadcrumb-separator;
			padding: 0 0.25em;
		}
	}

	a {
		color: inherit;
	}
}

.section {
	padding: 40px 0px 60px 0px;

	&.no-divider {
		padding-top: 0;
	}

	.section {
		padding: 0;

		& + .section {
			padding-top: 20px;
			border-top: none;
		}
	}
}

.section-default {
	background-color: #fff;
	.section-title,
	p {
		color: $brand-secondary;
	}
}
.section-alt {
	background-color: $brand-alt;
	.section-title,
	p {
		color: #fff;
	}
}

.section-header {
	padding-bottom: 30px;

	.section-title {
		margin-bottom: 0;
	}

	.section-description {
		margin: 0.25em 0 0;
	}
}

.section-title {
	font-size: $font-size-h1;
	font-weight: $font-weight-base;
	text-align: center;
}

.section-description {
	font-size: $font-size-large;
}

.section-page-header {
	background-color: #222;
	color: #fff;
	text-align: center;

	a {
		color: #fff;

		&:hover {
			color: rgba(#fff,0.85);
		}
	}

	.section-title {
		font-size: $font-size-h1;
		margin-bottom: 0;
		color: inherit;
		@media only screen and (max-width: 767px) {
			font-size: floor($font-size-h1 * 0.8);
		}
		@media only screen and (max-width: 480px) {
			font-size: $font-size-h2;
		}
	}

	.section-description {
		font-size: 18px;
		margin: 0.25em auto 0;
		max-width: 800px;
	}
}

.form-container {
	max-width: 350px;
	margin-right: auto;
	margin-left: auto;
}

/* Shapes */
.shape-wrapper {
	position: relative;
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
}
.bg-crl {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: $blue-crl;
	position: absolute;
	top: -46px;
    left: 67px;
    @media only screen and (max-width: 949px) {
		display: none;	
	}
    @media only screen and (max-width: 767px) {
		top: 10px;	
		display: block;
	}
}

/* Sprites */
.rr-sprite {
	background-image: url('/content/img/rr-sprite.png');
}
.rr-sprite.rr-sprite1,
.rr-sprite.rr-sprite2,
.rr-sprite.rr-sprite3,
.rr-sprite.rr-sprite4,
.rr-sprite.rr-sprite5 {
	background-repeat: no-repeat;
	position: relative;
	text-indent: -9999px;
}
.rr-sprite.rr-sprite2,
.rr-sprite.rr-sprite3,
.rr-sprite.rr-sprite4,
.rr-sprite.rr-sprite5 {
	@media only screen and (max-width: 767px) {
		//left: 200px !important;
	}
}
.rr-sprite.rr-sprite1 {
	width: 175px;
	height: 200px;
	background-position: 0px 0px;
	top: 0px;
    left: 120px;
    @media only screen and (max-width: 767px) {
		margin: 60px auto;
		left: 0px;
		margin-bottom: 75px;
	}
}
.rr-sprite.rr-sprite2 {
	width: 84px;
	height: 100px;
	background-position: -175px 0px;
	position: absolute;
	left: 110px;
}
.rr-sprite.rr-sprite3 {
	width: 80px;
	height: 95px;
	background-position: -258px 0px;
	position: absolute;
	left: 110px;
}
.rr-sprite.rr-sprite4 {
	width: 73px;
    height: 99px;
    background-position: -180px -103px;
    position: absolute;
	left: 115px;
}
.rr-sprite.rr-sprite5 {
	width: 92px;
    height: 87px;
    background-position: -258px -107px;
    position: absolute;
	left: 105px;
}

.how-it-works-list {
	text-align: center;
	li {
		padding-top: 40px;
	}
	h2 {
	color: $brand-primary;
	font-weight: $font-weight-base;
	padding: 140px 0px 10px 0px;
		@media only screen and (max-width: 767px) {
			padding: 120px 0px 10px 0px;
			height: 190px;
		}
	}
	p {
		color: $color-base;
		padding: 0px 15px;
		@media only screen and (max-width: 767px) {
			padding: 0px;
		}
	}
	.list-item {
		top: 100px;
	}
}
.leave-review-list {
	h5 {
		//color: $color-base;
		text-transform: uppercase;
	}
}