.site-header {
	position: relative;
	z-index: 99;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 85px;
	-webkit-box-shadow: 0px 6px 9px -3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 6px 9px -3px rgba(0,0,0,0.4);
	box-shadow: 0px 6px 9px -3px rgba(0,0,0,0.4);

	@media only screen and (max-width: 767px) {
		padding-top: 0;
	}
}

.app-bar {

	@media only screen and (max-width: 767px) {
		z-index: 1;
		padding: 0.5em 0;
		background-color: #fff;
	}

	.btn {
		position: relative;
		height: 85px;
    	top: -20px;
    	padding-top: 30px;
    	border-radius: 0px;
	}

	.nav-toggle {
		left: 0;
	}

	.search-toggle {
		right: 0;
	}
}

.site-title {
	position: relative;
	z-index: 3;
	width: 265px;
	margin-bottom: 0;

	@media only screen and (max-width: 767px) {
		margin: 0 auto;
		width: 160px;
	}

	a {
		display: block;
		height: 51px;
		background: transparent url('/content/img/registered-reviews.gif') no-repeat center;
		text-indent: -999em;

		@media (-webkit-min-device-pixel-ratio: 1.4), (min-resolution: 192dpi) { 
			background-image: url('/content/img/registered-reviews-retina.gif');
			background-size: 100% auto;
		}

		@media only screen and (max-width: 767px) {
			height: 40px;
		}
	}
}

.nav {
	@extend .list-unstyled;
	margin-bottom: 0;

	.nav-item {
		position: relative;
		margin-bottom: 0;

		&.active .nav-submenu {
			top: 40px;
			display: block !important;
			opacity: 1;
			visibility: visible;
			transition-delay: 150ms;

			@media only screen and (max-width: 767px) {
				top: 0;
			}
		}

		&.current .nav-link {
			color: $brand-primary;

			.i {
				border-top-color: $brand-primary;
			}
		}
		&:first-child {
			margin-top: -4px;
		}

	}

	.nav-link {
		display: block;
		text-decoration: none;
		color: $brand-secondary;
		padding: 15px;
		font-weight: $font-weight-semi-bold;
		text-transform: uppercase;
		font-size: 14px;

		i {
			font-size: 23px;
		    position: relative;
		    top: 3px;
		    left: 5px;
		}

		&:hover {
			color: $brand-primary;

			i {
				border-top-color: $brand-primary;
			}
		}

		i {
			border-top-color: $color-base;
		}
	}
}

.nav-submenu {
	@extend .list-unstyled;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 99;
	background-color: #fff;
	min-width: 200px;
	border: 1px solid $panel-border-color;
	opacity: 0;
	visibility: hidden;
	transition: top 150ms, opacity 150ms, visibility 150ms;

	@media only screen and (max-width: 767px) {
		position: relative;
		top: 0;
		z-index: 1;
		display: none;
		border: none;
	}

	.nav-submenu-item {
		margin-bottom: 0;
	}

	.nav-submenu-link {
		display: block;
		text-decoration: none;
		color: inherit;
		text-align: left;
		padding: 15px;

		@media only screen and (max-width: 767px) {
			padding-left: 25px;
		}

		&:hover {
			color: $brand-primary;
		}
	}

}

.site-nav {
	margin-top: 2px;

	@media only screen and (max-width: 767px) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: -250px;
		z-index: 999;
		width: 250px;
		background-color: #fff;
		overflow: auto;
		-webkit-transition: -webkit-transform 300ms;
		transition: transform 300ms;

		.nav-visible & {
			-webkit-transform: translateX(250px);
			transform: translateX(250px);
		}
	}

	.nav-item {
		float: left;

		@media only screen and (max-width: 767px) {
			float: none;
		}
	}

	.nav-link {
		text-align: center;

		@media only screen and (max-width: 767px) {
			text-align: left;
		}
	}

	.nav-toggle {
		color: inherit;
		text-decoration: none;
		font-size: 30px;
		line-height: 40px;
		height: 45px;
		padding: 0 15px;
		text-align: right;

		&:before {
			content: '\00D7';
		}
	}
}

.nav-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	visibility: hidden;
	opacity: 0;
	background-color: #000;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	.nav-visible & {

		@media only screen and (max-width: 767px) {
			visibility: visible;
			opacity: 0.8;
		}
	}
}

.utility-bar {
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 3;
	width: 100%;
	text-align: right;
	font-size: 12px;

	ul {
		margin-bottom: 0;
	}
}

.search-bar {
	.home-search {
		margin: 0 auto;
    	float: none;
    	font-size: $font-size-h3;
	}
	.search-type {
		padding-right: 3px;
		#SearchType {
			width: 100%;
			height: 76px;
			border-radius: 7px 0px 0px 7px;
		}
	}
	.search-near {
		padding-left: 3px;;
		#SearchNear {
			width: 100%;
			height: 76px;
			border-radius: 0px 7px 7px 0px;
		}
	}

	@media only screen and (max-width: 767px) {
		top: 8px;
		background-color: $panel-bg;
		border-bottom: 1px solid $panel-border-color;
		-webkit-transition: -webkit-transform 300ms;
		transition: transform 300ms;

		.search-visible & {
			-webkit-transform: translateY(47px);
			transform: translateY(47px);
		}
	}

	form {
		position: relative;
		margin-top: 45px;
		text-align: right;

		@media only screen and (max-width: 767px) {
			margin: 0.5em 0;
			text-align: left;
		}
	}

	input {
		color: $color-base;

		@media only screen and (min-width: 768px) {
			padding-right: 32px;
		}

		@media only screen and (max-width: 767px) {
			width: 100%;
		}
		&:focus {
		background: $input-focus-bg;
		//box-shadow: 0 0 3px $input-focus-shadow-color;
		//border-color: $input-focus-border-color;
		-webkit-box-shadow: 0px 1px 21px 0px rgba(87,87,87,0.75);
		-moz-box-shadow: 0px 1px 21px 0px rgba(87,87,87,0.75);
		box-shadow: 0px 1px 21px 0px rgba(87,87,87,0.75);
		border: 0 !important;
		}
	}

	.btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		min-width: 0;
		width: 45px;
		padding: 0;
		border: none;
		color: $brand-primary;

		@media only screen and (min-width: 768px) {
			background: transparent !important;
			color: $brand-primary;
			width: 75px;
    		font-size: 26px;

			&:hover {
				color: darken(#999,10%);
			}
		}

		@media only screen and (max-width: 767px) {

			.fa-search {
				display: none;
			}

			.assistive-text {
				position: relative;
				clip: auto;
			}
		}
	}
}

#cookie-notification {
	position: relative;
	z-index: 999999;
	display: none;
	width: 100%;
	background-color: $brand-primary;
	padding: 10px 0;
	color: #fff;
	font-size: 12px;

	.row {
		min-height: 30px;
	}

	p {
		margin-right: 40px;
	}

	a {
		color: inherit;

		&:hover {
			opacity: 0.8;
		}
	}
}

#cookie-notification-close {
	position: absolute;
	top: -3px;
	right: 0;
	display: block;
	font-size: 30px;
	width: 30px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

/*registeredreviews*/
.business-login {
	text-transform: uppercase;
	font-weight: $font-weight-semi-bold;
	span {
		padding-left: 10px;
    	font-size: 25px;
    	vertical-align: middle;
	    margin-top: -3px;
	}
}