* {
	@media print {
		background: transparent !important;
		color: #000 !important;
		text-shadow: none !important;
	}
}

img,
embed,
object,
video {
	max-width: 100%;
}

nav,
embed,
object,
video {
	@media print {
		display: none !important;
	}
}

pre,
blockquote,
img {
	@media print {
		page-break-inside: avoid;
	}
}

:focus {
	outline: none;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
	}

.align-center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.reduced {
	margin-bottom: 0;
}

.assistive-text {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.print {

	@media screen {
		display: none !important;
	}
}

.no-print {

	@media print {
		display: none !important;		
	}
}

.no-mobile [href^="tel:"],
.no-mobile [href^="sms:"] {
	text-decoration: none;
	color: inherit;
	cursor: inherit;

	&:hover {
		color: inherit;
	}
}

@media print {

	@page {	
		margin: 1cm;
	}

}

.wrap-lg {
	@media only screen and (max-width: 1023px) {
		display: block;
	}
}
.wrap-md {
	@media only screen and (max-width: 767px) {
		display: block;
	}
}
.wrap-sm {
	@media only screen and (max-width: 479px) {
		display: block;
	}
}
