h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $headings-font-family;
	line-height: $headings-line-height;
	font-weight: $headings-font-weight;
	color: $headings-color;
	margin: $headings-margin;
}

h1,
.h1 {
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
	font-weight: $font-weight-extra-bold;
}

h3,
.h3 {
	font-size: $font-size-h3;
}

h4,
.h4 {
	font-size: $font-size-h4;
}

h5,
.h5 {
	font-size: $font-size-h5;
}

h6,
.h6 {
	font-size: $font-size-h6;
}

p,
.p {
	margin: 0 0 1em;
}

.p {
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

small,
.small,
.sm {
	font-size: $font-size-small;
}

.large,
.lg {
	font-size: $font-size-large;
}

.line,
.block {
	display: block;
}

.uppercase {
	text-transform: uppercase;
}

.word-group,
.wg {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}