input[type="submit"],
button,
.btn {
	@extend .no-print;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: normal;
	min-width: 120px;
	background-color: #ccc;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	padding: $btn-padding;
	border: $btn-border;
	text-transform: uppercase;
	@if $btn-border-radius != 0 {
		border-radius: $btn-border-radius;
	}
	transition: color 150ms, background-color 150ms;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background: darken(#ccc,10%);
	}

	&:focus {
		background: darken(#ccc,15%);
	}

	&:active {
		background: darken(#ccc,20%);
	}

	&::-moz-focus-inner {
		border: none;
	}
}
.section-content .btn {
	min-width: 180px;
	margin: 25px 0px;
	@media only screen and (max-width: 480px) {
		width: 100%;
	}
}
.btn-center {
	text-align: center;
}
.btn-primary {
	color: $btn-primary-color;
	background: $btn-primary-bg;
	@if $btn-border != 'none' {
		border-color: $btn-primary-border-color;
	}

	&:hover {
		background: $btn-primary-hover-bg;
		color: $btn-primary-hover-color;
	}

	&:focus {
		background: $btn-primary-focus-bg;
	}

	&:active {
		background: $btn-primary-active-bg;
	}
}

.btn-secondary {
	color: $btn-secondary-color;
	background: $btn-secondary-bg;
	@if $btn-border != 'none' {
		border-color: $btn-secondary-border-color;
	}

	&:hover {
		background: $btn-secondary-hover-bg;
		color: $btn-secondary-hover-color;
	}

	&:focus {
		background: $btn-secondary-focus-bg;
	}

	&:active {
		background: $btn-secondary-active-bg;
	}
}

.btn-success {
	color: $btn-success-color;
	background: $btn-success-bg;
	@if $btn-border != 'none' {
		border-color: $btn-success-border-color;
	}

	&:hover {
		background: $btn-success-hover-bg;
		color: $btn-success-hover-color;
	}

	&:focus {
		background: $btn-success-focus-bg;
	}

	&:active {
		background: $btn-success-active-bg;
	}
}

.btn-warning {
	color: $btn-warning-color;
	background: $btn-warning-bg;
	@if $btn-border != 'none' {
		border-color: $btn-warning-border-color;
	}

	&:hover {
		background: $btn-warning-hover-bg;
		color: $btn-warning-hover-color;
	}

	&:focus {
		background: $btn-warning-focus-bg;
	}

	&:active {
		background: $btn-warning-active-bg;
	}
}

.btn-danger {
	color: $btn-danger-color;
	background: $btn-danger-bg;
	@if $btn-border != 'none' {
		border-color: $btn-danger-border-color;
	}

	&:hover {
		background: $btn-danger-hover-bg;
		color: $btn-danger-hover-color;
	}

	&:focus {
		background: $btn-danger-focus-bg;
	}

	&:active {
		background: $btn-danger-active-bg;
	}
}

.btn-outline {
	background-color: transparent;
	color: $btn-outline-color;
	border: 1px solid $btn-outline-color;

	&:hover {
		background-color: rgba(#000,0.1);
	}

	&:focus {
		background-color: rgba(#000,0.15);
	}

	&:active {
		background-color: rgba(#000,0.2);
	}
}

.btn-link {
	background: transparent;
	border: none;
	text-decoration: underline;
	color: $link-color;

	&:hover,
	&:focus,
	&:active {
		background: transparent;
		color: $link-hover-color;
	}
}

.btn-disabled,
.btn.disabled,
.btn[disabled] {
	color: #999 !important;
	background: #ccc !important;
	text-shadow: 1px 1px 1px #fff;
	cursor: not-allowed !important;
}
.btn-arrow {
	&:after {
		content: '\f18e';
		margin: 0 0px 0 15px;
		font-family: "FontAwesome";
		font-weight: 100;
		font-size: floor($font-size-base * 1.2);
	}
}
.btn-lg {
	font-size: $btn-lg-font-size;
}

.btn-sm {
	font-size: $btn-sm-font-size;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-submit {

	@media only screen and (max-width: 480px) {
		width: 100%;
	}
}